<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>AI Image Generator</title>
		<link rel="stylesheet" href="/static/style.css" />
	</head>
	<body>
		<nav class="nav">
			<div class="container">
				<div class="logo">
					<a href="/">AI Image Generator</a>
				</div>
				<div class="main_list" id="mainListDiv">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="http://127.0.0.1:5006/">Project</a></li>
						<li><a href="/warning">warning</a></li>
						<li><a href="/about">About</a></li>
					</ul>
				</div>
				<div class="media_button">
					<button class="main_media_button" id="mediaButton">
						<span></span>
						<span></span>
						<span></span>
					</button>
				</div>
			</div>
		</nav>
		<div class="main">
			<div class="cont1">
				<div class="mainProm">
					<h1>
						The world’s most powerful
						<span class="colorrain">AI photo art generation</span>
						Engine.
					</h1>
					<p>What will you create?</p>
				</div>
			</div>
			<div class="input-group">
				<input id="imgprompt" placeholder="Enter Prompt here" type="text" />
				<button id="submitbtn" class="submit-button">
					<span>SUBMIT</span>
				</button>
			</div>
			<div id="tempbg">
				<img src="/static/img/1.png" alt="0" /><img
					src="/static/img/robot.jpg"
					alt="robo"
				/><img src="/static/img/3.png" alt="3" /><img
					src="/static/img/4.png"
					alt="4"
				/><img src="/static/img/5.png" alt="5" /><img
					src="/static/img/7.png"
					alt="7"
				/><img src="/static/img/9.png" alt="9" /><img
					src="/static/img/beautiful-ai-bird-photo_665072-292.webp"
					alt="b"
				/>
			</div>
			<div id="loadingGif">
				<div class="wrapper">
					<div class="circle"></div>
					<div class="circle"></div>
					<div class="circle"></div>
					<div class="shadow"></div>
					<div class="shadow"></div>
					<div class="shadow"></div>
				</div>
			</div>
		</div>
		<div class="imageCont"></div>

		<div id="step">
			<h1>How to make <span>AI-generated</span> images</h1>
			<h5>It's So Simple to generated Image</h5>
			<div class="allstep">
				<div class="step1">
					<span>Step 1</span>
					<p>
						Sign up or log in to Freepik You can create AI images a day— each
						with 4 different twists. The more you use text-to-image AI, the
						easier it gets.
					</p>
				</div>
				<div class="step2">
					<span>Step 2</span>
					<p>
						Get inspired You can start from scratch with your own words or
						choose to use or modify one of our prompts. Follow the prompt guide;
						you'll be a master in no time.
					</p>
				</div>
				<div class="step3">
					<span>Step 3</span>
					<p>
						Play around and see the magic happen Choose a style and format,
						tweak the final details, and voilà! Your work of art is ready. Now,
						show it to the world.
					</p>
				</div>
			</div>
		</div>
		<footer>
			<p>@2023 all rights-Reserve From *Aniket Modak*</p>
		</footer>
		<script src="/static/js/main.js"></script>
	</body>
</html>
